@import "tailwindcss";

@theme {
    --font-cloister: "Cloister Black", serif;
}

@font-face {
    font-family: "Cloister Black";
    src: url("/assets/fonts/CloisterBlack.ttf") format("truetype");
}
