<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body
        class="w-screen flex flex-col items-center font-serif bg-zinc-900 text-gray-300"
    >
        <div class="max-w-[800px]">
            <nav
                class="flex w-full items-center justify-center [font-variant:small-caps] text-xl"
            >
                <span class="font-cloister text-[36px]">M</span>
            </nav>
            {% block content %}{% endblock %}
            <div class="text-xs text-zinc-500 mt-4">
                made w/ <3 with axum & askama
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    </body>
</html>
