{% extends "base.html" %} {% block title %}home{% endblock %} {% block content
%}
<main>
    <div class="flex gap-1">
        <span class="font-yinit text-[96px]">M</span>
        <div class="flex flex-col justify-start tracking-wider">
            <span class="[font-variant:small-caps] text-2xl mt-2">iles</span>
            <span class="text-sm text-gray-500"
                >Generalist, Tinkerer, Problem Solver</span
            >
            <span class="text-sm text-gray-500">Sydney, AU</span>
        </div>
    </div>
    <p>
        I derive enjoyment from working on problems which are diffcult to solve.
        Passionate about maths, physics, computers and using well-made software.
    </p>
</main>
{% endblock %}
