{% extends "base.html" %} {% block title %}home{% endblock %} {% block content
%}
<main>
    <div class="about-container">
        <span class="about-flourish"">M</span>
        <div class="about">
            <span class="about-name">iles</span>
            <span>Generalist, Tinkerer, Problem Solver</span>
            <span>Sydney, AU</span>
        </div>
    </div>
    <p>
        I derive enjoyment from working on problems which are diffcult to solve.
        Passionate about maths, physics, computers and using well-made software.
    </p>
</main>
{% endblock %}
