{% extends "base.html" %} {% block title %}home{% endblock %} {% block content
%}
<main>
    <div class="flex flex-col space-y-2 mt-4">
        <div class="flex flex-row gap-8 items-center">
            <div
                id="ascii"
                class="text-[4px] font-mono whitespace-pre leading-none"
            ></div>
            <div class="flex flex-col">
                <span class="text-2xl font-semibold">
                    miles
                    <span class="text-zinc-400">chun yin</span>
                    ng
                </span>
                <i class="text-xs"> {{ age }}yo generalist & tinkerer </i>
                <i class="text-xs text-zinc-500">
                    currently: walking the hedonic treadmill
                </i>
            </div>
        </div>
        <div>
            I derive enjoyment from working on problems which are diffcult to
            solve. Passionate about maths, physics, computers and using
            well-made software.
        </div>
        <div class="grid grid-cols-2 p-6">
            <div class="flex flex-col gap-3">
                <span class="text-xl font-semibold [font-variant:small-caps]"
                    >Experience</span
                >
                {% for w in work %}
                <div class="flex flex-col text-sm">
                    <span class="text-lg">{{ w.title }} @ {{ w.company }}</span>
                    <span class="text-zinc-500"
                        >{{ w.start }} - {{ w.end }}</span
                    >
                    <span>{{ w.description }}</span>
                </div>
                {% endfor %}
                <a href="/experience" class="text-sm text-center">see all</a>
            </div>
            <div class="flex flex-col gap-3">
                <span class="text-xl font-semibold [font-variant:small-caps]"
                    >Projects</span
                >
                {% for p in projects %}
                <div class="flex flex-col text-sm">
                    <a href="{{ p.link }}" class="text-lg">{{ p.name }}</a>
                    <span>{{ p.description }}</span>
                </div>
                {% endfor %}
                <a href="/projects" class="text-sm text-center">see all</a>
            </div>
        </div>
    </div>
</main>
<script>
    const frames = [
        `..........::-=++=+-:-=+=-:........::......................
............::-=+++=-=+=-:........:--::::::------========-:...
...............:-=+*+=+=-:.......:::--:::::::::::::::---===--:..
.................:-++++=-:...........::...............::::--::..
...................-+=+=-::...........::.............::::.....
....................-=-+=-::...........:::.......................
.....................=--==--::..:........::..      .............
.....................:=:-===--:::::---::::-:..      ............
......................--.:-=+===========--:::.       ...........
....................:::=:.:-=+++======+=-:..::.       . ..........
:...:::................:=...::------====-:....::.       .... ..
... ................... :-......::--==--:......::.         .
... .................... :- ....::----::....... ... .
... ..................... :- ..::-=--:........... ....
... .......................::..:-==-:................       ..
::..........................::.:-==-:.............         ..........
:::..:.......................:::-==-:...........       ....................
:::..::::.....................:-===:.........        ...........................
:::..::::::::..................:=+=-.......        ...............          ....
:::..:::::::::::...............:-==-::..    ........              .........
:::..:::::::::::::::...........:-=-:........         .... ......................
:::..:::::::::::::::::::.......:-=-:.....................  ...         .........
:::..::::::::::::::::::::::::::--=-:............                              ..
:::..:::::::::::::::::::::::---===-:..... ....    .
:::..::::::::::::::::::::::--==++=-:...   ......
:::..::::::::::::::::::::::--++++=-::..    .......
:::..::::::::::::::::::::::--+*+=:...................
:::..:::::::::::::::::::::::-=++=-:...............  .
:::..:::::::::::::::::::::::--+++-:...............
---..:-::::::::::::::::::::::-=++=::............  .
---..-------------::::::::....:=++=:............
---..----------------------:...:=++-:...........
===:.-====---------------:......-++=:........ ..
===:.===============--:..  .....:-+=-:....... ...  .              .:...
+++:.=+++++==============-:......:-==:.... ... .. .:.....::.      ..:...
+++:.=++++++++++++++++++++++-. ...:==-....... .-.  ...::::::       .:::..
+**:.=******+++++++++++++++:......:-=-.....    ::..::--::::::.     ...:..
***:.+****************++++=-++*=...:=-...      .:.-.=#+::::::...  ::....
***-.+#*******************+***+-=-..--:..       =+#*##:::::::.:...::...
*##-.+###**#******************+##: .:==..      .######=:::::..::::::.:::.
*##-.*###############*******####+...---:. ..   :#######+:::....:::::....... .
*##-.*##########################-..:-.:-.::..:.-########*-....::::.::-+*##%*###*
###-.*#########################*...: ..--:::::.=*=*######*:...:.:-+*%%@@%%%%@#+=
##*-.*#########################+....  .-=---:::::.=######--..:.-*%@%%%%%%%%%*:::
###:.*#########################:.... .:-==---:::::=-*+=:::::::+%%%%%%%%%%@#=::::
###:.*#######################**.... .:--==------==-::=*=-:.::#%%%%%%%%%%%+::::::
##*:.+########################-.....:---==-:-===-----:+##*+-:#%%%%%%%%%*-:::::::
*##:.+#######################*.... ::--===-:-=========-+*##-.:*%%%%%%*-:::::::::
*##-.*#######################=.....:-====++++++++++++-*%**++-::%%%%*-:.:::::::::
###-.*%#####################*:....::---======++++++*+++++*%#::*@%*=:.:::::::....
##*:.*%#####################+....::-------==============-----**=:..:::...
##*::######################*-...:---------======--------=====:..................
*##::######################*....:---------==========-+#%*-:.....................
*##::*#####################=...:--==------==========-#%+:.......................
*##::*#####################:...--=-------===--=-===-+%=.........................
***::*##**##***##*######*#+...:-===-------=---------*:.........................
***::*********************-...--======-----=======:+-..........................
+**:.**********+*********+....--=================-.-:..........................
+++:.+++++++++++++++++++*-...:----==-=--========:.::...........................
+++:.++++++++++++++++++++:...:------------====-..:-:............................`,

        `................:==--=++=-:......:::.....................:::-----:..
.................:=--=++=-:........::..................::-----:::...
..................--:-=+=-::........:::...............:::::....
...................=:.-==--::.....:::---::::............
...................:=.:--=--::::::---====--::.....
....................--.:-===-----===++++++=-:... .. ...  ..    ..
.....................=:.:-=========+++++++=-:...   .............
.....................:=..::-------===+++===-:...    ............
......................-- ..:::::--==+++=--:::..      ...........
....................:::=: ...:::--=+*+=-::..::.       ...........
:...:::................:=......::-=+++-::.....::.      .....  .
... ................... :- .....:-=++=-:.......::.      ....
... .................... :- ....:-=+=-:........ ... .
... ..................... -: ...:-=+=-:.......... ....
... .......................::...:-===::.............        ..
::..........................::..:-==-:............         ..........
:::..:.......................::::-==-:..........       ....................
:::..::::......................:-==-::.......        ...........................
:::..::::::::..................:-==-:......       ................          ....
:::..:::::::::::..............:-===-::..    .........             .........
:::..:::::::::::::::.........::-==-:........         .... ......................
:::..:::::::::::::::::::.....:-=--:......................  ...         .........
:::..::::::::::::::::::::::::-==-:..............                              ..
:::..:::::::::::::::::::::::--==-:....... ....    .
:::..:::::::::::::::::::::::--==-::...    ......
:::..::::::::::::::::::::::::-===-::...    .......
:::..::::::::::::::::::::::::-===:...................
:::..:::::::::::::::::::::::::-==-:...............
:::..:::::::::::::::::::::::::-=+-:...............
--:..:-:::::::::::::::::::::::--==-:............  .
---..-------------::::::::.....:===:............
---..----------------------:...:-==-............
===:.-=====--------------:.....:-==-:........ ..
===:.===============--:..  .....:=+=:........ ...  .              .:...
+++:.=++++===============-:......-==-..... ... .. .:.....::.      ..:...
+++:.=*+++++++++++++++++++++-. ..:==-:....... .-.  ...::::::       .:::..
+**:.+******+++++++++++++++:......:==:.....    ::..::--::::::.     ..:...
***:.+****************++++--++*=...-=-...      ::.-.+#+::::::...  ::....
***:.+#*******************+***+-=-..--:..       +*#*#*:::::::.:...::...
*#*:.*###**#*******************##: .-==..      .######=:::::..::::::.:::.
*##:.*#######*######********####+...-=-.  ..   :#######+:::....:::::....... .
*##:.*##########################-..:::-:.::..:.-########*-....::::.::-+*##%*###*
##*:.*#########################*...: .:-::::::.=*=*######*:...:.:-+#%%@@%%%%@#+=
##*-.*#########################=....  .=-:---::::.=#####*--..:.-#%@%%%%%%%%%*:::
###:.*#########################:.... .:=+----:::::=-*+=:::::::*%%%%%%%%%%@#=::::
##*:.*#######################*+.... .:--+=-----===-::=*=-:.:-#%%%%%%%%%%%+::::::
##*:.*########################-.....:-=-==-:-==------:+##*+-:#%%%%%%%%%*-:::::::
*##:.+#######################*.....::--===-:-=========-+*#*-.:*%%%%%%*-:::::::::
*##:.*#######################=....::-====++++++++++++-*%**++-.:%%%%*-:.:::::::::
###:.*%#####################*:....::---======++++++++++++*%*.:*@%*=:.:::::::....
##*:.*%#####################=....::-------==============-----**=:..:::....
##*::######################*-...::--------=======-------=====:..................
*##::######################*...:----------========-=-+#%+-:.....................
*##::######################=...:--==-----===========-%%+:.......................
*#*::*#####################:...--=-------===----===-+%-.........................
***::*##**#****##**#####*#+...:-===--------------=--*:.........................
***::*********************-...--======-----=======:+-..........................
+*+::**********+*********+...:--=================-.-:..........................
+++::+++++++++++++++++++*-...:-----=-=--========:.::...........................
=++:.++++++++++++++++++++:...:------------====-..:-:............................`,

        `.................-:...::--===--:::-::.....:::::::::::::.........
..................-....:::--=====-==-------==========--::......
..................:- .....:::---====++=====+++++=++===-::.....
...................=: ........::::::--=-------======-:::.....
...................:=.................:-:::--=====--::........
................... -- . ..............:-:-=+++=--::.............
.....................=. . ..............:-==++=-::...............
.................... :=   ...............:=++=-::................
..................... --   .............::=++=-:..................
....................:::=:  ........:..:::-=+++-..... .............
::..::::................=. ............::-+++---...    ...........
... ................... :-  ...........:-=++-::::..   ........
... .................... :- ..........:-=+=-:..............
... ..................... :- .......::-===-:............
... .......................::....:::-====-:..........       ..
::..........................::..::-====-::.........       ...........
:::..:.....................::----====-:.........       ....................
:::..::::.................::--===--::........        ...........................
:::..::::::::.............:-===--::........       ................          ....
:::..:::::::::::..........:-===-::.::...    .........             .........
:::..:::::::::::::::.......:-==-::..........         .... ......................
:::..:::::::::::::::::::....:-==-:.......................  ...         .........
:::..:::::::::::::::::::::::::-==-:.............                              ..
:::..:::::::::::::::::::::::::--==-:..... ....
:::..::::::::::::::::::::::::---===-:...  ......
:::..::::::::::::::::::::::::---==+=:...  ........
:::..::::::::::::::::::::::::--=--=-:................
:::..:::::::::::::::::::::::::----==:.............
:::..:::::::::::::::::::::::::-===--:.............
---..:-:::::::::::::::::::::::--=---:...........  .
---..-------------::::::::.....:===-:...........
---:.----------------------::..:-==-:...........
===:.-===----------------:.....:-==-:........ ..
===:.===============--:..  .....-==-:............  .              .:...
+++:.=++++===============-:.....:-=-...... ... .. .:.....::.      ..:...
+++:.=*+++++++++++++++++++++-. ..-=-:........ .-.  ...::::::       .:::..
+**-.=******+++++++++++++++:.....:==:......    ::..::--::::::.     ..::..
***-.+****************++++=-++*=..-=-:...      .:.-.=#+::::::...  .:....
***-.+#*******************+***+-=-:--:...       =+#*##:::::::.:...::...
*##-.+###**##*****************+*#-.:==-.       .*#####=:::::..::::::.:::.
*##-.+###############*******####+...==-.. ..   :#######+:::....:::::....... .
*##-.+##########################=..:-:-:.::..:.-########*-....::::.::-+*##%*###*
###-.*#########################*:..:..:--:::::.=*=*######*:...:.:-+*%%@@%%%%@#+=
###-.*#########################+.... ..=-:--:::::.=######=-..:.-*%@%%%%%%%%%*:::
###-.+#########################-.... .:-=----:::::=-*+=:::::::+%%%%%%%%%%@%=::::
###-.+#######################**.... .:--==------==-::=*=-:.::*%%%%%%%%%%%+::::::
###-.+########################-.....:-=-==-:-===-----:=##*+-:#%%%%%%%%%*-:::::::
*##-.+########################.... ::--===-:-=========-+*##-.:*%%%%%%*=:::::::::
*##-.*%######################=....::-====++++++++++++-*%**++-::%%%%*-:.:::::::::
*##-.*%#####################*:....::---======++++++*+++++*%#::*@%*=:.:::::::....
##*:.*%#####################+....::-------==============-----**=:..:::....
##*:.######################*-...:---------=======-------=====:..................
*##::######################*....:---------==========-=#%*-:.....................
*##::*#####################=...:--==-----===========-#%+:.......................
*##::*#####################:...--=-------===----===-+%=.........................
**#::*#*#*##***##*######*#+...:-===-----------------*-.........................
***:.********************#-...--=======----=======:+-..........................
+**:.**********+*********+....--=================-.-:..........................
+++:.+++++++++++++++++++*-...:-----=-=--========:.::...........................
+++:.++++++++++++++++++++:...:------------====-..:-:............................`,

        `.................-:.:::::-----====+=======================--::...
.................:-...:::::::------==---------------===----::...
..................--.......:::::::::--::::::::::::------::.....
...................=:................:::.....::----=--::.....
...................:=.................:::...:::-====-::.....
....................-- ................:::..::--====--:.........
.....................=. ................:-:::::-====--:.........
.................... := .................:--::---=--::...........
..................... -- ...............:::-=====--:....... .....
....................:::=: ...::::::::::::--==+==-:......... ......
:...::::...............:=...........:::--======-:...   .... ......
... ....................:-........:::--=====-::::..   . ..  ..
... .....................--...:::::--=====-::.......... .
... ......................--:::---===+==-::...........
.......................::--++===+++==-::.............       ...
::....................::-=+++++===--:..............       ...........
:::..:................::--=====-::..............       ....................
:::..:::::.............:::--====-:...........        ...........................
:::..::::::::............::--====-::.......       ................          ....
:::..::::::::::::.........::-==+==--::..   ............  .        .........
:::..:::::::::::::::.......::-=++==-:::.....         .... ......................
:::..:::::::::::::::::::....::=+++=--:...................  ...         .........
:::..:::::::::::::::::::::::::-=====-::.........                              ..
:::..::::::::::::::::::::::::-=======-:.......    .
:::..::::::::::::::::::::::::-=+=====-:.........
:::..::::::::::::::::::::::::-=++==++=:...........
:::..::::::::::::::::::::::::-=+=--=+=:..............
:::..::::::::::::::::::::::::-=+=-=++-:.............
:::..::::::::::::::::::::::::-=+===+=-:...........
--:..:--::::::::::::::::::::::-=====-:..........  .
---..-------------::::::::....:=====-:..........
---..----------------------:..:-+==-:...........
===:.-====---------------:.....-=+=:......... ..
===:.===============--:..  ....:=+-:......... ...  .              .:...
+++:.=++++===============-:.....-==:...... ... .. .:.....::.      ..:...
+++:.=++++++++++++++++++++++-...:-=-:........ .-.  ...:::::.       .:::..
+**:.+******+++++++++++++++:.....:==-......    ::..::--::::::.     ..::..
***:.+****************++++=-++*=..:==:...      ::.-.+#+::::::..   ::....
***:.+#*******************+***+-=-.-+-...       =*#*##:::::::.:...::...
*##:.+###**##******************##:.:++-.       .######=:::::..::::::.:::.
*##:.*##############********####+..:=+-.. ..   :#######+:::....:::::....... .
###:.*##########################-..:--=:.::..:.-########*-....::::.::-+*##%*###*
##*:.*#########################*...: :=--:::::.=*=*######*:...:.:-+*%%@@%%%%@#+=
##*-.*#########################=.... .:+-:--:::::.=#####*--..:.-*%@%%%%%%%%%*:::
###:.*#########################:.... .:=+----:::::=-*+=:::::::+%%%%%%%%%%@#=::::
##*:.*#######################**.... .:-=+=-----===-::=*=-:.:-#%%%%%%%%%%%+::::::
##*:.*########################-.....:---==-:-===-----:+##*+::#%%%%%%%%%*-:::::::
*##:.+#######################*.... ::--===-:-=========-+*#*-.:*%%%%%%*-:::::::::
*##:.*%######################=....::-====++++++++++++-*%**++-::%%%%*-:.:::::::::
###:.*%#####################*:....::---======++++++++++++*%#.:*@%*=:.:::::::....
##*:.*%#####################=....::-------==============-----**=:..:::....
##*::######################*-...:---------=======-------=====:..................
*##::######################*....----------==========-+#%+-:.....................
*##::######################=...:--==-----===========-%%+:.......................
*##::*#####################:...----------===----===-+%-.........................
***::*######***##*######*#+...:-====-------------=--*:.........................
***::*********************-...--=======----=======:+-..........................
+**::**********+*********+...:--=================-.-:..........................
+++:.+++++++++++++++++++*-...:----==-=--========:.::...........................
+++:.++++++++++++++++++++:...:-----------=====-..:-:............................`,

        `.................-: ..............:.................:::-==+++==-::....
..................-................::..............::--==+++=--:....
..................-- ...............::............::--=++++=-::....
...................=. ...............::...........::-=++++=-:....
...................:= ................::.........::--=++=--:....
................... -: ................:::......::--==+=-::......
.....................=..................:::...:::--====-:........
.....................:=..................:--:::--====-::........
......................=-...:::::::::::::::-=======-::............
................:::::::+-::----------------====-::................
:...::::.........::::--=+====----:::::::::::::-:....   ...........
... ..............::-==+++=--:::...............::.    . ..  ..
... .............::-==+++++-:::........................
... ..............::--==+++=::::........................
... .................:--=====:::::...................       ..
::....................::--====-:::::::::...........       ...........
:::..:.................::-===+==--------::.......      ....................
:::..:::::..............::-=++++========-:.....     ............................
:::..::::::::............:-=+++==-----==-:....    ................          ....
:::..:::::::::::.........:-=++=--::-----:.............            .........
:::..:::::::::::::::......:-===--::--=--:.....       .... ......................
:::..:::::::::::::::::::...:-==----==-::.................  ...         .........
:::..:::::::::::::::::::::::--==--===-:....... .                              ..
:::..:::::::::::::::::::::::---=====-:........    ..
:::..::::::::::::::::::::::::--==++=-:... .......
:::..:::::::::::::::::::::::::-=++=-:...  ........
:::..::::::::::::::::::::::::--===::.................
:::..:::::::::::::::::::::::::-==-::..............
:::..::::::::::::::::::::::::--==-:...............
--:..:-:::::::::::::::::::::::-=-::.............  .
---..------------:::::::::....:---:.............
---..----------------------:...:---:............
===:.-====---------------:.....:-=-:......... ..
===:.===============--:..  .....:--::............  .              .:...
+++:.=++++===============-:......:--:......... .. .:.....::.      ..:...
+++:.=*+++++++++++++++++++++-. ..:--:........ .-.  ...:::::.       .:::..
+**:.+******+++++++++++++++:......:=-:.....    ::..::--::::::.     ..::..
***:.+****************++++--++*=..:==-...      ::.-.+#+::::::... .::....
***:.+#***********************+-=-.-+=:..       +*#*##:::::::.:..:::...
*##:.+###**#*******************##:.:++=..      .######=:::::..::::::.:::.
*##:.*##############********####+..:++=:. ..   :#######+:::....:::::....... .
###:.*##########################-..:--=:.::..:.=########*-....::::.::-+*#%%*###*
##*:.*#########################*...: .=--:::::.=*=*######*:...:.:=+#%%@@%%%%@#+=
##*-.*#########################=.... .:+-:--:::::.=#####*--..:.-#%@%%%%%%%%%*:::
###:.*#########################:.... .:==-----::::=-*+-:::::::*%%%%%%%%%%@#=::::
##*:.*#######################*+.... .:-===-----===-::=*=-:.:-#%%%%%%%%%%%+::::::
##*:.*########################-.....:-=-==-:-==------:+##*+::#%%%%%%%%%*-:::::::
*##:.+#######################*.....::--===-:-=========-+*#*-.:*%%%%%%*-:::::::::
*##:.*%######################=....::-====++++++++++++-*%**++-.:%%%%*-:.:::::::::
*##:.*%#####################*:....::---======++++++++++++*%*.:#@%*-:.:::::::....
##*:.*%#####################=....:--------==============-----**=:..:::....
##*::######################*:...:---------======--------=====:..................
*##::######################*...:----------==========-+#%+-:.....................
*##::######################=...:--==-----===========-%%+:.......................
*#*::*#####################:...----------==-----===-+%-........................
***::*#*####***##*######*#+...:-====----------------*:.........................
***::*********************-...--======-----=======:+-..........................
+*+::**********+*********+...:--=================-.-:..........................
+++:.+++++++++++++++++++*-...:-----=----========:.::...........................
+++:.++++++++++++++++++++:...:------------====-..--:............................`,

        `.................-: ...::::--====++++==--::...................::-=-:.....
.................:-.::--=================--:::..............::--=-:.....
...............:::==-==++===---:::::----====----:::::::-----====-:......
..........:::--====*+==---:::::......:-::---==================--:......
.......::--===++++===:::::............:::..::::-------------:::......
......:-====--=====-=-.................:::..........................
......::--------=====+-:.................::.........................
.........::------====++-::...............:-:........................
.............:::---==+*+=-:::::::----------==-::...................
...............::::--=+*+==========-----::---=-:...................
:...:::.............:::-+====---::::.......:::--....  ............
... ....................-+==--::............:.:::..  ..........
... .....................-===--::.......:::.................
... ......................====--::...::::::..............
... ......................:===---:::::::::............      ...
::.........................:-+==-----:::...........       ...........
:::..:......................:=++=----::.........      .....................
:::..::::...................::=++==--::.......      ............................
:::..::::::::................:-=++=-:.......      ................          ....
:::..:::::::::::.............::=++=-::...   ..........            .........
:::..:::::::::::::::..........:-++=-:........        .... ......................
:::..:::::::::::::::::::......:-=+=-:....................  ...         .........
:::..::::::::::::::::::::::...:-===:............                              ..
:::..:::::::::::::::::::::::::--==-:..... ....    .
:::..:::::::::::::::::::::::::-=++=:...   ......
:::..:::::::::::::::::::::::::-=++=::..   .........
:::..:::::::::::::::::::::::::-=+=-..................
:::..:::::::::::::::::::::::::-=++-:...............
:::..:::::::::::::::::::::::::-=++-:..............
--:..:-:::::::::::::::::::::::--==-:............  .
---..------------:::::::::.....-==-:............
---..----------------------:...:==-:............
===:.-===-----------::---:.....:-=-:......... ..
===:.===============--:..  ....:-=-:.............  .              .:...
+++:.=++++===============-:.....-=-:...... ... .. .:.....::.      ..:...
+++:.=++++++++++++++++++++++-...:==:......... .-.  ...:::::.       .:::..
+**:.+****+++++++++++++++++:.....:=-:......    ::..::--::::::.     ..::..
***:.+***************+++++--++*=..:-:....      ::.-.+#+::::::...  ::....
***:.+#*******************+***+-=-.--:...       +*#*#*:::::::.:...::...
*#*:.*###**********************##:..-=-.       :######=:::::..::::::.:::.
*##:.*#######*######*********###+...---.  ..   :#######+:::....:::::....... .
*##:.*##########################-..::.::.::..:.=########*-....::::.::-+*##%*###*
##*:.*#########################*...: ..:-:::::.=*=*######*:...:.:-+*%%@@%%%%@#+=
##*:.*#########################=....  .--:-::::::.=#####*--..:.-#%@%%%%%%%%%*:::
###:.*#########################:.... .:-=-----::::=-*+-:::::::*%%%%%%%%%%@#=::::
##*:.*#######################*+.... .:--==------==-::=*=-:.:-#%%%%%%%%%%%+::::::
##*:.*########################-.....:------:-==------:+##*+::#%%%%%%%%%*-:::::::
*##:.+#######################*.... ::--===-:==========-+*#*-.:#%%%%%%*-:::::::::
*##:.*%######################=....::-====++++++++++++-*%*+++-.:%%%%*-:.:::::::::
*##:.*%#####################*:....::---======+++++++++++**%*.:#@%*=:.:::::::....
##*::#######################=....::-------==============-----**=:..:::....
##*::######################*:...:---------======--------=====:..................
*##::######################*...::---------=======--=-+#%+-:.....................
*##::######################=...:--==-----===========-%%+:.......................
*#*::#####################*:...----------===------=-+%-........................
***::*##**#****#***#*****#+...:-===-----------------*:.........................
***::*********************-...--======------======:+-..........................
+*+::**********+*********+...:-==================-.-:..........................
+++::+++++++++++++++++++*-...:-----=-=--========:.::...........................
+++..++++++++++++++++++++:...:------------====-..:-:............................`,

        `....:::::---===++++==--::::......:::......:-===-:::::......:::::-----:....
.::--------=======+-:::::..........::......::-====-----------------:....
.::-------:::::---==::............ .::........::--------------:::.....
..::-----:::::::::-+-::::............::................:...........
......:::::--::::--=+=--:::...........::........................
..........:::-------++==--::...........:::.......................
.............::::::--+====-::::..::::::--=-::::::::..............
...................::-+=++==----------:::---::::---:............
....................::=+=++++==---::::.....::....::...........
.................:::::-+=++++==-:::::.......::.. ..  .........  ..
:...:::..............::-+==+==-::........... .::.      .... ......
... ...................:-+====--:..............::.     .. .
... .....................-=-===-:.............. ..
... ......................-=-----:............... ...
... .......................--:---::..................       ..
::..........................:-::--::..............        ...........
:::..:.......................::::--:............       ....................
:::..::::......................:---:.........        ...........................
:::..::::::::..................:-==-.......       ................          ....
:::..:::::::::::...............::==-::..    ...........  .        .........
:::..:::::::::::::::...........:-==-:........        .... ......................
:::..:::::::::::::::::::.......:-==-..................... ....         .........
:::..::::::::::::::::::::::...::=+=:............                              ..
:::..:::::::::::::::::::::::::--++=:..... ....
:::..::::::::::::::::::::::::--=*+=:...   ......
:::..::::::::::::::::::::::::--+*+=::..   .........
:::..::::::::::::::::::::::::-=++=:..................
:::..::::::::::::::::::::::::--===:...................
:::..::::::::::::::::::::::::--==-:...............
:--..:-:-::::::::::::::::::::--==-:.............  .
---..------------:::::::::...::---:.............
---:.----------------------::::-=-:.............
===:.-===-----------::---::...:-=-:.......... ..
===:.===============--:..  ....:-=-:.............  .              .:...
+++:.=++++==============--:....:-==:...... ...... .:.....::.      ..:...
+++:.=++++++++++++++++++++++-...:-=-:........ .-.  ...:::::.       .:::..
+**:.+****+++++++++++++++++:.....:-=-......    ::..:::-::::::.     ..::..
***:.+***************+++++=-++*=..:==:...      ::.-.=#+::::::...  ::....
***:.+#*******************+***+-=-.-=-...       =+#*##:::::::.:...::...
*##:.+###*********************+##-..=+=..      .######=:::::..::::::.:::.
*##-.*#######*######*********###+...===:. ..   :#######+:::....:::::....... .
*##-.*##########################-..:-:-:.::..:.-########*-....::::.::-+*##%*###*
##*-.*#########################*...: .::-:::::.=*=*######*:...:.:-+*%%@@%%%%@#+=
##*-.*#########################+....  .--:-::::::.=#####*=-..:.-*%@%%%%%%%%%*:::
###-.*#########################:.... .:-==----::::=-*+=-::::::+%%%%%%%%%%@%=::::
###:.*#######################**.... .:--==------==-::=*=-:.::#%%%%%%%%%%%+::::::
##*:.+########################-.....:-=--=-:-==------:+##*+::#%%%%%%%%%*-:::::::
*##:.+#######################*.... ::--===-:-=========-+*#*-.:*%%%%%%*=:::::::::
*##-.*%######################=....::-====++++++++++++-*%*+++-::%%%%*-:.:::::::::
###-.*%#####################*:....::---======++++++++++++*%#::*@%*=:.:::::::....
##*:.*%#####################+....::-------==============-----**=:..:::....
##*::######################*-...::--------======--------=====:..................
*##::######################*....:---------=======--=-=#%+-::....................
*##::*#####################=...:--==-----===========-#%+:.......................
*##::*#####################:...----------===------=-+%=.........................
***::*#***##***##**####**#+...:-===-----------------*:.........................
***::*********************-...:-======------======:+-..........................
+**:.**********+*********+...:--=================-.-:..........................
+++:.+++++++++++++++++++*-...:-----=-----=======:.::...........................
+++:.++++++++++++++++++++:...:------------====-..:-:............................`,
    ];

    let currentFrame = 0;
    const element = document.getElementById("ascii");

    setInterval(() => {
        element.textContent = frames[currentFrame];
        currentFrame = (currentFrame + 1) % frames.length;
    }, 150);
</script>
{% endblock %}
